<h1>Coachs Answers</h1>

<div id= "question">
<h4><%= @question  %></h4>
<h4> <I> - You </I> </h4>
</div>
<div id= "answer">
<h4><B><%= @answer %></B></h4>
<h4> <I> - Coach </I></h4>
</div>

<div>
<%= link_to "ask another question", ask_path %>
</div>
