<h1>Our first view 🚀</h1>
<h4>Ask your Coach a question!</h4>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask a question?" style="Width: 500px;">
  <input type="submit" style="Width: 200px; Background-color: #F0F8FF;">
</form>
